<h1>Signup</h1>

<form action= "/users" method= "POST">
  #when I make a form the most importatn part is the form action because is the part that determines where the information will go when submitted.
  <p>
    <label for="email">Email:</label>
    <input type="text" name "email" id="email" />
  </p>
  <p>
    <labele for="password">Password:</label>
    <input type="text" name "password" id="password" />
  </p>
  
  <input type="submit" />
</form>